// 1. Colors
$blue: #004951;
$green: #15d362;
$light: #fff;
$light-dark: #e3e3e1;
$dark: #333;

// 2. Typograpghy
$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Quicksand", "Open Sans", sans-serif;

// 3. Layout
$page-width: 1100px;
